@model WebApplication1.Models.usuariorol

<div>
    <h4>usuariorol</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
           Usuario
        </dt>

        <dd>
            @WebApplication1.Controllers.UsuarioRolController.Nombreusuario(Model.id)
        </dd>

        <dt>
           Rol
        </dt>

        <dd>
            @WebApplication1.Controllers.UsuarioRolController.Nombrerol(Model.id)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Regresar a la lista ", "Index")
</p>
