
@{
    ViewBag.Title = "nuevasCVS";
}


<h2>Cargar CSV</h2>

@using (Html.BeginForm("nuevasCSV", "clientes", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="file" name="fileForm" />
    <input type="submit" name="" value="Enviar" />
}


