
@{
    ViewBag.Title = "uploadCSV";
}

<h2>CARGARCVS</h2>
@using (Html.BeginForm("uploadCVS", "Proveedor", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="file" name="fileForm" />
    <input type="submit" name="" value="enviar" />

}