@model WebApplication1.Models.producto


<div>
    <h4>producto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nombre
        </dt>

        <dd>
            Nombre
        </dd>

        <dt>
           Precio Unitario
        </dt>

        <dd>
            Precio Unitario
        </dd>

        <dt>
           Descripcion
        </dt>

        <dd>
           Descripcion
        </dd>

        <dt>
            Cantidad
        </dt>

        <dd>
            Cantidad
        </dd>

        <dt>
            ID_ Provedor 
        </dt>

        <dd>
            
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar Provedor " + nombreProveedor, "Edit", new { id = Model.id }) |
    @Html.ActionLink("Regresar a lista ", "Index")
</p>
