
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Nuevolayout</title>
</head>
<body>
    <div> 
       
    </div>
    <div class="acaseimprime">
        @RenderBody()
    </div>
</body>
</html>
