@model  IEnumerable<WebApplication1.Models.producto>

<select class="from-control" id="id_producto" name="id_producto">

    @foreach (var item in Model)
    {
        <option value="@item.id">@item.nombre</option>

    }
</select>
