@model WebApplication1.Models.producto_imagen

@{
    ViewBag.Title = "Details";
}

<h2>Producto imagen</h2>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
           Imagen
        </dt>

        <dd>
            @Html.DisplayFor(model => model.imagen)
        </dd>

        <dt>
           Producto
        </dt>

        <dd>
            @WebApplication1.Controllers.ProductoimagenController.Nombreproducto(Model.id_producto)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Regrasar a la lista ", "Index")
</p>
