@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>INVE</h1>
    
    <p class="lead">
        Llevar un óptimo control de inventarios, preciso y en tiempo real es esencial para mantener la rentabilidad de tu negocion
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        
     <img src="https://www.elestudiante.com.co/wp-content/uploads/2020/02/cursos-virtuales-sena.jpg" alt="Alternate Text" />
    </div>
        
</div>